---
import Layout from "../../layouts/Layout.astro";
import { getEntry } from "astro:content";
// 1. Get the slug from the incoming server request
const { slug } = Astro.params;
if (slug === undefined) {
  throw new Error("Slug is required");
}
// 2. Query for the entry directly using the request slug
const entry = await getEntry("games", slug);
// 3. Redirect if the entry does not exist
if (entry === undefined) {
  return Astro.redirect("/404");
}
// 4. (Optional) Render the entry to HTML in the template
const { Content } = await entry.render();
---

<Layout title={`${entry.data.title} - Brandon Pittman`}>
  <main class="region prose wrapper">
    <!-- 
      <p class="color-gray-light" style="margin-block-start: -.5rem">
        Published on {entry.data.date}
      </p>
     -->

    <div class="flow">
      <div class="flow flow-3xs">
        <h1 class="wrap-balance">{entry.data.title}</h1>
        <p class="color-gray-light">
          <span>
            {entry.data.platform}
          </span>
          {entry.data.genre ? <span>{" · " + entry.data.genre}</span> : null}
          {
            entry.data.completed && typeof entry.data.completed === "object" ? (
              <span>
                {` · Last played ${
                  entry.data.completed.getFullYear() === 2019
                    ? "before 2020"
                    : "in " + entry.data.completed.getFullYear()
                }`}
              </span>
            ) : null
          }
        </p>
      </div>
      <Content />
    </div>
  </main>
</Layout>
