---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";

let games = await getCollection("games");

let hasAbandoned = games.some((b) => b.data.abandoned);
---

<Layout title="Games - Brandon Pittman">
  <main class="region wrapper prose flow-xs">
    <h1>Games</h1>
    <ul role="list" class="flow">
      <li>
        <a href="/games/finished">Finished</a>
      </li>
      <li>
        <a href="/games/unfinished">Unfinished</a>
      </li>
      <li>
        <a href="/games/unplayed">Unplayed</a>
      </li>
      {
        hasAbandoned ? (
          <li>
            <a href="/games/abandoned">Abandoned</a>
          </li>
        ) : null
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    flex: 1 1 0%;
  }

  li > a {
    --gutter: var(--space-xs);
  }

  /* details > ul {
    margin-block-start: 1rem;
  }

  summary {
    @media (min-width: 640px) {
      inline-size: 11rem;
      text-align: end;
    }
  } */
</style>
