---
import { getCollection } from "astro:content";

import Layout from "@layouts/Layout.astro";
import PostList from "@components/PostList.astro";
import PostLink from "@components/PostLink.astro";

let posts = await getCollection("notes");

let sortedPosts = posts
  .filter((p) => !p.data.draft)
  .sort((a, b) => (a.data.date < b.data.date ? -1 : 1))
  .reverse();

/* let recentPosts = sortedPosts.slice(0, 6);
let olderPosts = sortedPosts.slice(6); */
---

<Layout title="Notes - Brandon Pittman">
  <main class="region wrapper prose w-full flow-xs">
    <h1 class="">Notes</h1>
    <article id="posts" class="prose flow-xs">
      <PostList>
        {sortedPosts.map((post) => <PostLink post={post} />)}
      </PostList>

      <!-- 
        NOTE: This is a holdover from Marcus' site

        <details class="flow">
          <summary>Older Posts</summary>
          <PostList>
            {olderPosts.map((post) => <PostLink post={post} />)}
          </PostList>
        </details>
       -->
    </article>
  </main>
</Layout>

<style>
  main {
    flex: 1 1 0%;
  }

  li > a {
    --gutter: var(--space-2xs);
  }

  /* details > ul {
    margin-block-start: 1rem;
  }

  summary {
    @media (min-width: 640px) {
      inline-size: 11rem;
      text-align: end;
    }
  } */
</style>
