---
let url = new URL(Astro.url);
let searchParams = url.searchParams;
let q = searchParams.get("q")?.trim();
---

<form>
  <label for="search" class:list={[{ "visually-hidden": true }]}>
    <slot />
  </label>
  <div
    class="sidebar"
    data-dir="rtl"
    style="--gutter: var(--space-2xs); --sidebar-min-inline-size: 80%; max-inline-size: var(--size-15)"
  >
    <input
      autofocus
      value={q}
      id="search"
      type="search"
      name="q"
      placeholder={Astro.props.placeholder}
    />
    <button type="submit" class="cta"> Search</button>
  </div>
</form>
