---
let { post } = Astro.props;

let dateFormatter = new Intl.DateTimeFormat("en", {
  month: "long",
  day: "numeric",
  year: "numeric",
});

let formatDate = (d: number) => dateFormatter.format(Date.parse(d));
---

<li>
  <a rel="prefetch" href={`/notes/${post.slug}`} class="no-underline cluster">
    <span class="color-gray-light">
      {formatDate(post.data.date)}
    </span>
    <span class="font-bold">{post.data.title}</span>
  </a>
</li>

<style>
  li > a {
    --direction: column;
    --align: start;
    --gutter: 0;
  }

  li > a > span:first-child {
    font-size: var(--size-step--1);
  }

  @media (min-width: 640px) {
    li > a {
      --direction: row;
      --gutter: revert;
    }

    li > a > span:first-child {
      font-size: revert;
      inline-size: 11rem;
      text-align: end;
    }
  }
</style>
