---
let {
  slug,
  data: { title, platform },
} = Astro.props;
---

<li class="flow-3xs">
  <div class="cluster gutter-3xs" style="--align: baseline;">
    <a href={`/games/${slug}`}>
      <span>
        {title}
      </span>
    </a>
    <span class="color-gray-light text-2xs white-space-nowrap font-medium">
      {platform}
    </span>
  </div>
</li>
