---
let {
  slug,
  data: { title, author },
} = Astro.props;
---

<li class="flow-3xs">
  <div class="cluster gutter-3xs" style="--align: baseline;">
    <a href={`/books/${slug}`}>
      <span>
        {title}
      </span>
    </a>
    <a
      href={`/unread?q=${author}`}
      class="no-underline color-gray-light text-2xs white-space-nowrap font-medium"
    >
      {author}
    </a>
  </div>
</li>
