---
import UnreadItem from "@components/UnreadItem.astro";
---

{
  Astro.props.list.length ? (
    <article id={Astro.props.title.toLowerCase()} class="flow">
      <h2>{Astro.props.title}</h2>
      <ul class="flow">
        {Astro.props.list.map((item) => (
          <UnreadItem {...item} />
        ))}
      </ul>
    </article>
  ) : null
}
