---
import Layout from "@layouts/Layout.astro";

const {
  frontmatter: { title },
} = Astro.frontmatter || Astro.props;
---

<Layout title={`${title} - Brandon Pittman`}>
  <main class="region prose wrapper flow-xs">
    <h1>{title}</h1>
    <slot />
  </main>
</Layout>
